/* SAVINGS SPECIFIC STYLING */

.savingsRight, .savingsLeft {
    width: 49.5%;
}

#savingsSummaryTable, #editValuesTable, #addSavingsTable, #encumbranceTable {
    width: 100%;
    padding: 10px 15px 20px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.fullRowEntry {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 30px;
}

input#savingsEntry {
    font-family: 'Nanum Gothic Coding';
    width: 100%;
}

th.savingsPageTableHeader {
    text-align: center;
    font-family: 'Abel';
    font-size: 18px;
    border-bottom: 2px solid #e2ca96;
}

tr {
    border-bottom: 1px solid #e2ca96;
    height: 35px;
}

td.tableText {
    font-family: 'Abel';
    font-size: 16px;
    padding: 0px 20px;
    background-color: #f7f3ee;
    /* width: 50%; */
}

.leftTable td.tableText {
    width: 50%;
}

.rightTable td.tableText {
    width: 60%;
}

td.tableNum {
    font-family: 'Nanum Gothic Coding';
    font-size: 13px;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 15px;
    min-width: 100px;
}

#savingsSummaryTable td.tableNum, #editValuesTable td.tableNum {
    text-align: left;
    padding-left: 30px;
}

td.tableButton {
    text-align: center;
    padding: 10px 0px;
}

button.addLine, button.editLines, input.editExpense {
    box-sizing: border-box;
    display: block;
    width: 120px;
    align-items: center;
    -webkit-appearance: none;
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    border: none;
    border-image-width: 0px;
    font-size: 15px; line-height: 15px;
    font-family: 'Abel'; text-transform: uppercase;
    background-color: #f7f3ee;
    padding: 4px 20px;
    box-shadow: 1px 1px 1px #808080;
    transition: all 0.15s linear;
}

button.editExpense:hover {
    box-shadow: 1px 1px 1px #ffffff;
}

