/* WEDDING SPECIFIC STYLING */

#weddingDate {
    font-size: 30px;
    font-family: 'Abel';
}

#weddingCountdown {
    font-size: 20px;
    font-family: 'Abel';
}

#expenseTableContainer {
    box-sizing: border-box;
    width: 40%;
    padding: 10px 15px 20px;
    margin-bottom: 100px;
    float: left;
    background-color: #ffffff;
    border: 1px solid #c5a45c;
}

.weddingRight {
    width: 59%;
}

table#expenseTable {
    width: 100%;
}

table#savingsTable {
    width: 100%;
    vertical-align: top;
    background-color: #ffffff;
    border-spacing: 0px;
}

table#weddingSummaryTable {
    width: 100%;
    background-color: #ffffff;
}

#expenseTable tr, #weddingSummaryTable tr, #savingsTable tr {
    border-bottom: 1px solid #e2ca96;
    height: 35px;
}

th.weddingPageTable {
    text-align: center;
    font-family: 'Abel';
    font-size: 18px;
    border-bottom: 2px solid #e2ca96;
}

td.tableText {
    font-family: 'Abel';
    font-size: 16px;
    padding: 0px 20px;
    background-color: #f7f3ee;
    width: 55%;
}

td.tableNum {
    font-family: 'Nanum Gothic Coding';
    font-size: 13px;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 15px;
    min-width: 100px;
}

#weddingSummaryTable td.tableNum {
    text-align: left;
    padding-left: 30px;
}

td.recommendation, td.tableButton {
    text-align: center;
    padding: 10px 0px;
}

button.editExpense, input.editExpense {
    box-sizing: border-box;
    display: block;
    align-items: center;
    -webkit-appearance: none;
    -webkit-border-vertical-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    border: none;
    border-image-width: 0px;
    display: inline;
    /* vertical-align: middle; */
    font-size: 15px; line-height: 15px;
    font-family: 'Abel'; text-transform: uppercase;
    background-color: #f7f3ee;
    padding: 4px 20px;
    box-shadow: 1px 1px 1px #808080;
    transition: all 0.15s linear;
}

button.editExpense:hover, input.editExpense:hover {
    box-shadow: 1px 1px 1px #ffffff;
}